@import "presets";

.landing-page {
    padding: $gap-3;

    h1 {
        text-align: center;
        font-size: $font-size-12;
    }

    h2 {
        text-align: center;
        font-size: $font-size-8;
        color: white;
    }

}