{% extends "base.html" %}

{% block main %}
<main class="home">

<table class="people">
    <tr>
        <th onclick="sortTable(0);" class="asc">Name</th>
        <th onclick="sortTable(1);">Met</th>
        <th onclick="sortTable(2);">Last Interaction</th>
        <th onclick="sortTable(3);">Last Voice Interaction</th>
        <th onclick="sortTable(4);">Last In-Person Interaction</th>
    </tr>
    {% for person in people %}
    <tr>
        <td data-sort="{{ person.last_name }}">{{ person.first_name }} {{ person.last_name }}</td>
        <td data-sort="{{ person.met|timestamp }}" title="{{ person.met }}">{{ person.met|time_offset }}</td>
        <td data-sort="{{ person.last_interaction.date|timestamp }}" title="{{ person.last_interaction.date }}">{{ person.last_interaction.date|time_offset }}</td>
        <td data-sort="{{ person.last_voice_interaction.date|timestamp }}" title="{{ person.last_voice_interaction.date }}">{{ person.last_voice_interaction.date|time_offset }}</td>
        <td data-sort="{{ person.last_person_interaction.date|timestamp }}" title="{{ person.last_person_interaction.date }}">{{ person.last_person_interaction.date|time_offset }}</td>
    </tr>
    {% endfor %}
</div>
</main>
{% endblock %}