nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    line-height: 1.5;
    height: $nav-height;
    color: $black;
    font-size: 15px;
    z-index: 10;
    font-family: "Source Sans Pro";
    border-bottom: 1px solid $gray;

    .container {
        height: $nav-height;
        display: flex;
        align-items: center;
        justify-content: space-between;
      
          button {
              background: transparent;
              border: 1px solid #ddd;
              border-radius: 3px;
              cursor: pointer;
              padding: 9px 7px;
              height: $nav-height * 0.7;
              line-height: 1;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-content: center;
              margin-left: auto;
      
              div {
                  content: "";
                  background: #888;
                  height: 2px;
                  margin: 1.5px 0px;
                  width: 22px;
              }
          }
      
          .navlinks {
              position: fixed;
              background-color: $gray;
              width: 100%;
              left: 0;
              top: $nav-height;
              overflow-y: hidden;
              transition-property: height;
              transition-duration: .5s;
              transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
              height: 0;
              overflow-x: hidden;
      
              a {
                  display: flex;
                  align-items: center;
                  position: relative;
                  font-size: 15px;
                  height: 40px;
                  margin-left: 26px;
                  font-weight: bold;
                  width: 100%;
                  color: $black;
              }

              a:after {
                content: "";
                height: 1px;
                width: 1000%;
                background: transparentize($color: black, $amount: 0.8);
                position: absolute;
                top: 0;
                margin-left: -500px;
            }
          }
      
          .navlinks.visible {
              height: 240px;
          }
    }   
}

@mixin nav--400() {
    
}

@mixin nav--500() {
    
}

@mixin nav--600() {
    
}

@mixin nav--700() {
    
}

@mixin nav--800() {
    nav {
        
        .container {
            button {
                display: none;
            }

            .navlinks {
                display: flex;
                background: #ffffff00;
                height: $nav-height;
                width: 100%;
                top: 0;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                position: relative;
                width: fit-content;
                width: -moz-fit-content;
                margin-left: auto;

                a {
                    margin-left: 10px;
                    width: auto;
                }

                a:after {
                    height: 0px;
                }
            }
        }   
    }

}

@mixin nav--900() {
    
}

@mixin nav--1000() {
    nav {
        .container {
            .navlinks {
                font-size: 18px;

                a {
                    margin: 0 15px;
                }
            }
        }
    }
}

@mixin nav--1100() {
    
}

@mixin nav--1200() {
    
}
